.docimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  width: 40%;

}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}